/*
 * 
 * 
 * C O N T E X T  M E N U
 * 
 * 
 */

.context-menu {
-fx-background-color: rgba(40.0, 43.0, 48.0, 1.0);
-fx-background-insets: 0.0;
-fx-padding: 5.0px;
-fx-background-radius: 5.0px;
-fx-border-radius: 5.0px;
-fx-border-color: rgba(245.0, 245.0, 245.0, 0.1);
-fx-effect: dropshadow( one-pass-box , rgba(0.0,0.0,0.0,0.6) , 6.0, 0.0 , 0.0 , 0.0);
}

/********** Menu Iten ***********/
.menu-item {
-fx-background-radius: 5.0px;
}

.menu-item:hover, .menu-item:focused {
-fx-background-color: derive(rgba(37.0, 40.0, 45.0, 1.0), -20.0%);
}

.menu-item > .graphic-container {
-fx-padding: 0.0em 0.333em 0.0em 0.0em;
}

/********** LABEL ***********/
.menu-item > .label {
-fx-background-color:transparent;
-fx-padding: 0.2em 0.1em 0.2em 0.1em;
-fx-text-fill: rgba(255.0, 255.0, 255.0, 0.6);
-fx-effect: null;
-fx-font-size: 13.0px;
-fx-font-family: 'Open Sans';
}

.menu-item:focused > .label {
-fx-text-fill: #fff;
}

/******* Critical Item *******/
.danger > .label {
-fx-text-fill: #f04747;
}

.danger:focused > .label {
-fx-text-fill: derive(#ff3434, 25.0%);
}

/***Menu***/
.menu {
-fx-background-color:transparent;
}